.vscode
.idea
dist
node_modules/
package-lock.json
.DS_Store
.*.sw?
*.gypcmd
*.mk
*.pyc
*.tar.gz
*.log
build
cscope.*
gen
node_modules
npm-debug.log
tags
cpplint.py
generated
types/interfaces.d.ts
dist
build
log
.vscode
.project
.nyc_output/
coverage/